//header 滾動前
.scroll_header {
  position: fixed!important;
  width: 100%;
  z-index: 200;
  left: 0px;
  top: -20%!important;
  @include transition(1s);
}
//header 滾動之後
.scroll_header_show{
  top: 0%!important;
}
